.resume-cont>a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

.resume-cont>a:hover {
    color: #535bf2;
}
.resume-cont{
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.resume-cont>h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.resume-cont>button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

.resume-cont>button:hover {
    border-color: #646cff;
}

.resume-cont>button:focus,
.resume-cont>button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    .resume-cont>a:hover {
        color: #747bff;
    }

    .resume-cont>button {
        background-color: #f9f9f9;
    }
}